.main{
  height: auto;
  width: 100%;
  word-wrap:break-word;
}
.content{
  width: 100%;
  word-wrap:break-all;
  text-overflow:ellipsis;
  overflow:hidden;
}

.title{
  width: 100%;
  word-wrap:break-all;
  text-overflow:ellipsis;
  overflow:hidden;
  font-size: 14px;
}
