.circleIcon {
    /*margin: 10px 5px;*/
    overflow: hidden;
    margin: 0;
}

.circleIcon div {
    display: inline-block;
    margin: 2px auto;
    padding: 2px auto;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: 2px solid rgb(11, 13, 131);
    overflow: hidden;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
}

.circleIcon img {
    width: 100%;
    min-height: 100%;
    text-align: center;
}