.main{
    position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  background: #000000 url(../assets/timg-01-01.jpeg) repeat center center;
  background-size:100% 100%;
  background-origin:content;
  background-position:50% 50%;
}

.friend{
    position: absolute;
    top: 100px;
    left: 100px;
}

.me{
    position: absolute;
    top: 210px;
    left: 100px;
}